.header {
    display: flex;
    justify-content: center;


}

.header__logo {
    display:block;
    margin: auto;
    margin-top: 20px;

}

.header__name {
    text-decoration: underline;
    margin: auto;


    
}
