*{
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.section-video {
    padding-top: 90px;
    padding-bottom: 75px;
}

.dark-section {
    background: var(--bg-dark);
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--font-gold);
}

.logo-content {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--font-light);
    padding-left: 70px;

    background-image: url(/assets/svg/vector-ico-SVG.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;

}

.section-title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.underline-title {
    position: relative;
  }


 .underline-title::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--dark-red);
  }

  