.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education__title {
    text-decoration: underline;
}

.education__content {
    text-decoration: underline;
}
